

/*------------ESTILOS DE LA PÁGINA-------------------------------------------------------------------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
}


body{
	  display: block;
	  padding-top: 20px;
    text-align: center;
    background: -webkit-linear-gradient(to bottom, rgb(51, 236, 255)0%, rgb(199, 248, 253)90%);
    background: -moz-linear-gradient(to bottom, rgb(51, 236, 255)0%, rgb(199, 248, 253)90%);
    background: -o-linear-gradient(to bottom, rgb(51, 236, 255)0%, rgb(199, 248, 253)90%);
    background: linear-gradient(to bottom, rgb(51, 236, 255)0%, rgb(199, 248, 253)90%);
}


#page{
	 display: block;
    width: 800px;
    margin: 0px auto 0px auto;
    text-align: left;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
  }


#page>header{

    font-family:verdana, arial,calibri;
    color: #FFFFFF;
    font-size: 1.2em;          
    background: #33ECFF;  
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 50px  100px 10px 100px;}


#page>header h2{
    font-family: verdana, arial,calibri;
    color: #FFFFFF;
    font-size: 1.0em;
     text-align: left;   
 }

 #page>header h3{
    width:700px;
    font-family: verdana, arial,calibri;
    color: #FFFFFF;
    font-size: 0.6em;
    text-align: right;   

 }

/*-----------ESTILOS DEL NAVEGADOR---------------------------------------------------------------*/
#page>nav{
    font-family: verdana, arial,calibri;
    font-size:1.0em;
    color:#FFFFFF;
    text-align: left;
    background:black;
     background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
}
#page>nav>  ul li{
    padding-top: 10px;
    margin: 0px 20px 10px 20px;
    list-style: none;
    display: inline-block;
    text-align: left;
    cursor: default;
}


nav a{
    text-decoration: none;
    color:#FFFFFF;
}


nav a:hover{
    color:orange;
}

/*--------------------ESTILOS PAGINA PRINCIPAL INDEX ---------------------------------------------*/
main{
    font-family: Verdana, arial, calibri;
    font-size: 0.8em;
    background-color:  white;
    display: inline-block;
    width: 100%;    
}

article{
    width: 800px;
    background-color:none;
    text-align: center;
    line-height: 1.8em;
    padding:none;
    margin:00px;
}  

.article_header h2{
	  width: 800px;
	  font-family: verdana, arial, calibri;
      color: #0fdbc3;
      font-size: 2.5em;
      text-align: center;          
      padding: 20px 0px 20px 0px;  
}

.article_header h3{
	  width: 800px;
	  font-family: verdana, arial, calibri;
      color: #0fdbc3;
      font-size: 1.4em;
      text-align: center;          
      padding: 20px 0px 20px 0px;  
}

.article_p {
	  width: 800px;
	  font-family:verdana, arial,calibri;
      color: #000000;
      font-size: 1.0em;
      text-align: center;          
      padding: 10px 0px 10px 0px;  
}


caja{
    margin: 8px 8px 30px 8px;
    width: 210px;
    background-color:#0fdbc3;
    background-position: center;
    text-align: center;
    line-height: 1.8em;
    padding: 10px 10px 10px 10px;
    float: left;
    border-style: solid;
    border-color: #0fdbc3;
    border-width: 10px;  
   /* -webkit-border-radius: 20px 00px 20px 00px;
    -moz-border-radius: 20px 00px 20px 00px;
    -o-border-radius: 20px 00px 20px 00px;*/
    border-radius: 20px 00px 20px 00px;  

}

.caja_encabezado h3{    
	width: 210px;
	font-family:verdana, arial,calibri;
    color: #ffffff;
    font-size: 1.0em;
    text-align: center;          
    padding: 10px 10px 10px 10px; 
    background-color: #0fdbc3;
    background-repeat: no-repeat;
    background-position:center;
}

/*-------------------------------------ESTILOS DE SERVICIOS--------------------------------------------------------*/

.box { 
    margin:10px;
    width: 365px;   
    background-color: #F7F8F9;
    text-align: left;    
    float: left;
    padding:5px 5px 5px 5px;
    border-top: dotted;
    border-top-color: cyan; 
    background-color: #F7F8F9;
    background-repeat: no-repeat;
    background-position: float: left; 
}

.box p{
  color:#000000;
  font-family: verdana, arial,calibri;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: left;
}

.box h3{    
    width: 365px;
    font-family:verdana, arial,calibri;
    color: #0fdbc3;
    font-size: 1.6em;
    text-align: left;    
}

.box img{
  float:left;
}

/*--------------------------ESTILOS CONTACTOS---------------------------------------------------------------------------------*/


form.elegante input {

}
form fieldset {
  
  float: left;
  width: 90%;
  background: #F5F5F5;
  margin: 20px 10px 20px 30px;
  padding: 10px 10px 10px 10px;
}

.asunto select{
  width: 95%;
  border: 2px solid silver;
  background: #ffffff;
  padding: .2em;
}

.mensaje textarea {
   width: 95%;
  border: 2px solid silver;
  background: #ffffff;
  padding: .2em;
}

.envia input{
  
  width: 100px;
  height:50PX;  
  background: cyan;  
  border-radius: 15px;
  margin: auto;
  font-size: 1em;
  text-align: center;
  display: block;

}

.nombre input{
   width: 95%;
  border: 2px solid silver;
  background: #ffffff;
  padding: .2em; 


}

label {
  font-family:verdana, arial,calibri;
  color: #000000;
  font-size: 1.6em; 
  text-align: center;  
  display:block;
  
}




/*------------ESTILOS DE FOOTER-----------------------------------------------------------------------------------------------*/
 footer{font-family:verdana, arial,calibri;
      clear: both;
      color: white;
      font-size: 1em;
      text-align: center;
      background: #000000;
      padding: 15px 0px 15px 0px;
     }


/*---------------------------IMÁGENES PAGINA PRINCIPAL INDEX----------------------------------------------------------------*/
img[src*="fontaneria"]{
    width:200px;
    background-position: center;
}


img[src*="comunidades"]{
    width:200px;
    background-position: center;
}


img[src*="calderas"]{
    width:200px;
    background-position: center;
}

img[src*="slider"]{
	width:800px;
  	background-position: center;
}

